In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [ ]:
#create an empty list to collect the given column
reviews  = []
stars = []
date = []
country = []

In [ ]:
for i in range(1,36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    for item in soup.find_all("time"):
        date.append(item.text)
        
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 33
Error on page 35
Error on page 35

In [16]:
min_length = min(len(reviews), len(stars), len(date), len(country))

reviews = reviews[:min_length]
stars = stars[:min_length]
date = date[:min_length]
country = country[:min_length]

In [17]:
max_length = max(len(reviews), len(stars), len(date), len(country))

reviews.extend([None] * (max_length - len(reviews)))
stars.extend([None] * (max_length - len(stars)))
date.extend([None] * (max_length - len(date)))
country.extend([None] * (max_length - len(country)))

In [18]:
if len(reviews) != len(stars):
    print("Length mismatch between reviews and stars")
if len(reviews) != len(date):
    print("Length mismatch between reviews and date")
if len(reviews) != len(country):
    print("Length mismatch between reviews and country")

In [19]:
df = pd.DataFrame({"reviews": reviews, "stars": stars, "date": date, "country": country})

In [21]:
df.head(10)

,reviews,stars,date,country
0,Not Verified | I booked two business class sea...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,27th August 2024,United States
1,Not Verified | Although all four flights were ...,1,26th August 2024,United Kingdom
2,✅ Trip Verified | Flight changed just one da...,9,26th August 2024,United Kingdom
3,Not Verified | Delayed flight 1 hour. Arbitrar...,1,25th August 2024,United Kingdom
4,Not Verified | Flown with BA four times. As an...,2,25th August 2024,United Kingdom
5,✅ Trip Verified | You may never see your ref...,10,22nd August 2024,United States
6,Not Verified | Cargo service: that's how I fel...,1,21st August 2024,United States
7,✅ Trip Verified | Inefficient and slow airport...,5,21st August 2024,United Kingdom
8,Not Verified | The customer service is one of...,4,18th August 2024,United States
9,"Not Verified | Before my flight, I was forced ...",2,15th August 2024,United Kingdom

In [24]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")